{% extends 'base.html.twig' %}

{% block body %}
    <h2>Результаты теста:</h2>
    <ol>
        {% for correct in result.correct %}
            <li style="background-color: #3adb76">{{ correct.title }}</li>
        {% endfor %}
    </ol>
    <ol>
        {% for wrong in result.wrong %}
            <li style="background-color: lightcoral">{{ wrong.title }}</li>
        {% endfor %}
    </ol>
{% endblock %}